<%= render 'shared/header' %>
<div class="mypage">
  <div class="side-bar">
    <%= render 'side_bar' %>
    <div class="content-area">
      <%= render 'content_area' %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
