<%= render 'shared/header' %>
<div class="mypage">
  <div class="sidebar">
    <%= render 'sidebar' %>
    <div class="content">
      <%= render 'content' %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
