/* 商品の概要 */

.item-box {
  padding: 10vh 15vw;
}

.item-box-img {
  object-fit: contain;
}

.thumbnail-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 202, 202);
  margin: 5px;
  overflow: hidden;
}

.thumbnail-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.thumbnail-image img:not(.active-thumbnail):hover {
  opacity: 0.6;
}

.active-thumbnail {
  border: 2px solid #707070;
  box-sizing: border-box;
  filter: brightness(80%);
  padding: 1px;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
